<div id="movie-modal" class="modal">
    <div class="modal-content">
        <span id="close-modal-button" class="close">&times;</span>
        <h2 class="modal-title"></h2>
        <iframe id="modal-youtube-video" width="560" height="315" frameborder="0" allowfullscreen></iframe>
        <p class="modal-description"></p>
        <div class="rating-section">
            <span class="star" data-rating="1">&#9733;</span>
            <span class="star" data-rating="2">&#9733;</span>
            <span class="star" data-rating="3">&#9733;</span>
            <span class="star" data-rating="4">&#9733;</span>
            <span class="star" data-rating="5">&#9733;</span>
        </div>
        <button id="submit-rating" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Notez ce film</button>
    </div>
</div>