<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>